# ===========================================
# Configuration du Serveur
# ===========================================
PORT=5000
NODE_ENV=development

# ===========================================
# Configuration de la Base de Données
# ===========================================
# Option 1: MongoDB Atlas (Recommandé)
MONGODB_URI=mongodb+srv://admin:mizou450@cluster0.xb4dzcy.mongodb.net/Import?retryWrites=true&w=majority&appName=Cluster0



# ===========================================
# Configuration JWT (Sécurité)
# ===========================================
# IMPORTANT: Changez cette clé en production !
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production_make_it_long_and_random

# ===========================================
# Configuration CORS
# ===========================================
# URL du frontend React
CLIENT_URL=https://importf.onrender.com/

# ===========================================
# Configuration de l'Application
# ===========================================
# Plafond légal par voyage (en DA)
PLAFOND_VOYAGE=1800000

# Taux de douane (5%)
TAUX_DOUANE=0.05

# Maximum de voyages par mois
MAX_VOYAGES_MOIS=2

# ===========================================
# Taux de Change par Défaut
# ===========================================
# Ces valeurs peuvent être modifiées dans l'application
DEFAULT_EUR_RATE=165
DEFAULT_USD_RATE=150
DEFAULT_TRY_RATE=4.5
DEFAULT_AED_RATE=41
DEFAULT_CNY_RATE=21
